*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
html{
    scroll-behavior: smooth;
}
.allCenter{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
}
.heading{
    text-decoration: underline blue wavy;
}
button{
    margin: 10px;
    background-color: blue;
    border:0;
    padding:4px;
    color:white;
    height:40px;
    width:150px;
    border-radius: 4px;
}
.contents div{
    margin:30px 3px;
    border:2px solid blue;
    border-radius:5px;
    padding:14px;
    background:radial-gradient( rgb(220, 80, 255),blue);
    color:white;
}
#whatsapp{
    position:fixed;
    height:50px;
    border-radius: 5px;
}
#dark{
    background-color: white;
    color:black;
    border: 1px solid;
    position:fixed;
    top:60px;
    margin:1px 0;
    height:50px;
    width:50px;
}
